a{
  cursor: pointer;
}

.carousel{
  margin: auto;
  width: 90%;
  padding: 10px;
}

.carousel img{
  height: 700px;
}

.card{
  width: 45%;
  margin: 10px;
}

.card img{
  width: 190px;
  height: 270px;
}

.hstl{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

body{
  background-image: linear-gradient(to bottom left,#8a3ab9 10%,#bc2a8d,#fccc63,#fbad50);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-link:focus{
  color: red!important;
}

.bt{
  position: absolute;
  bottom: 10px;
  right:10px;
}

.intro{
  display: flex;
  text-align:justify;
  text-justify: distribute;
  margin-bottom: 20px;
  justify-content: space-around;
}

.intro img{
  width:40%;
  border-radius: 10px;
}

.inbtn{
  border: none;
  color:blue
}

input{
  border: none;
}
input:focus{
  border: none;
}

.user{
  position: absolute;
  left: 45%;
}

.reg{
  cursor: pointer;
}